body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#loading-overlay {
    /* position */
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    /* colors */
    background-color: #451771;
    color: white;

    /* animation */
    transition: all 0.5s ease-in;
    animation-duration: 5000ms;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

#loading-overlay {
    animation-name: fadeOutUp;
}

#loading-overlay.open {
    animation-name: fadeInDown;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#ball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}